body{
  background-image: url(../img/Domino.jpg);
  background-size: 100% 100% ;
  width: auto;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  }

.title{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 0 auto;
  background-color: #3367e0;
}

.firma{
  color: navy;
  font-size: 20px;
  font-weight: bold;
}

#principal{
  width: 840px;
}

.boardtable {
  height: 400px;
  margin: 20px auto;
  width: 400px;
  background-color: red;
}

#player-area{
  position:absolute;
  margin-top: -420px;
  margin-left: 640px;
  height: 400px;
  width: 180px;
}

.cell-board{
  background-size: contain;
  box-sizing: border-box;
  border: 1px solid red;
  float: left;
  height: 20px;
  width: 20px;
  background-color: #474747;
}

.cell-board.filled{
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 20px;
  width: 20px;
  background-color: white;
}



.cell-board.filled img{
  position:absolute;
  margin-left: 0px;
  margin-top: 0px;
  height: 20px;
  width: 20px;
  background-color: white;
}


.cell-board.occupied {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 20px;
  width: 20px;
  background-color: white;
}

.cell-board.occupied img{
  position:absolute;
  margin-left: -9px;
  margin-top: -1px;
  height: 20px;
  width: 20px;
  background-color: white;

}

.board {
  background-color: #E3D4AB;
}

.rotableDragable{
  position: absolute;
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 40px;
  width: 20px;
  background-color: white;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);

}

.rotated1 {
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
     transform:rotate(90deg);
}


.rotated2 {
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
     transform:rotate(180deg);
}


.rotated3 {
    -ms-transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform:rotate(270deg);
}

.rotated4 {
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
     transform:rotate(360deg);
}

.player{
  height: 80px;
  margin: 20px auto;
  padding-top: 20px;
  height: auto;
  width: inherit;
  background-color: #2373ec;
}


.nameplayer{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
  margin-top: -10px
}

#dominoesplayerone, #dominoesplayertwo{
  height: 40px;
  background-color: grey;
}

#dominoesplayerone.hide, #dominoesplayertwo.hide{
  visibility: hidden;
}

.dominonumberclass{
  border: 2px;
  border-color: black;
  height: 20px;
  width: 20px;
  margin: 1 solid black;
}
.dominoplayerone,.dominoplayertwo {
  float: left;
  height: 40px;
  width: 20px; 
  border: 1px;
  border-color: black;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: DimGray;
  text-align: center;
}

.dominoplayerone.filled,.dominoplayertwo.filled{
  float: left;
  height: 40px;
  width: 20px;
  border: 1px;
  border-color: black;
  font-weight: bold;
  color: black;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}


.picknewdomino{
  font-size: 20px;
  font-weight: bold;
  font-size-adjust: auto;
}

.buttonstart{
  position: relative;
  width: 200px;
  margin: 0 auto;
  align-items: center;

}
.buttonstart button{
  margin-left:30px;
  color: black;
  font-size: 20px;
  font-variant: small-caps;
  background-color: #bf9090;
}

#gamestate{
  position: relative;
  margin-left: 200px;
  height: auto;
  left: -150px;
  width: 900px;
  border: 2px solid #17212e;
  background-color: #bcccf1;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bolder;
  color: #395602;

}

.dominonumberclass img{
  position:absolute;
  margin-left: -12px; /**/
  margin-top: 0;
  height: 20px;
  width: 20px;
  background-color: white;
}

.dominonumberplaced img{
  position:absolute;
  margin-left: -8px;
  margin-top: 2px;
  height: 20px;
  width: 20px;
  background-color: white;
}

#Thecnologies{
  color: #bbd8e8;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;

}
